/* CSS Document */
body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }


/*LOGIN BOX */
#login-wrapper{
	width:250px;
	height:150px;
	top:-200px;
	background-color:white;
	position:relative;
	display:block;
	z-index:25;
	margin: 0 auto;
	text-align:center;
	border: 2px solid;
	
}

.form-wrapper{
	 
  position: relative;
	top:0%;
  width: 250px;
  
  margin: auto;
	
}

/*SIGNUP BOX */

#signup-wrapper{
	width:250px;
	height:150px;
	top:-200px;
	background-color:white;
	position:relative;
	display:none;
	z-index:25;
	margin: 0 auto;
	text-align:center;
	border: 2px solid;
	
}


/*RESTRICT ACCESS */
.darkClass
{
	z-index:20;
    background-color: black;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
}